@import './variables';

#home{
    @include display-flex(center, column);
    gap: 20px;
    color: #fff;
    form {
        @include display-flex(center, column);
        gap: 5px;
    }
    .bttns{
        @include display-flex(center, column);
        gap: 7px;
    }
}

@media(max-width: 565px) {
    #home {
        h1{
            text-align: center!important;
        }
    }
}

@media(max-width: 425px) {
    #home {
        input,
        .bttns,
        .bttn{
            width: 100% !important;
        }
        .bttns{
            width: 80% !important;
        }
    }
}